<section class="container mt-5 d-flex justify-content-center flex-column align-items-center">
  <h2 class="align-self-start">Eliminar Product</h2>
  
  <div *ngIf="product">
    <p>¿Estás seguro que quieres eliminar el producto: "{{ product.name }}"?</p>
    <div class="d-flex justify-content-center gap-5">
      <button (click)="deleteProduct()" class="btn btn-danger">Si, Eliminar</button>
      <button (click)="cancel()" class="btn btn-secondary">Cancelar</button>
    </div>
  </div>
  
  <div *ngIf="!product">
    <p>Loading...</p>
  </div>
</section>